h1{
 color: brown !important;
}

h1{
    width: 50%;
    text-align: center;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 100px 50px 20px;

}


@media(max-width: 768px){

    h1{
        background-color: yellow !important;
    }
}